@use './../base' as base;

.primary-header {
  height: 60px;
  width: 100vw;
  background: base.$system-darkest-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  & > * {
    height: 100%;
  }
  
  &__navigation {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: {
      right: 20px;
      left: 22px;
    }
    & > img {
      width: 24px;
      height: 24px;
      &:first-child {
        margin: {
          right: 5px;
        }
      }
    }
  }

  &__logo {
    display: inline-block;
    height: 22px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-left: 66px;

    & > * {
      cursor: pointer;
      text-transform: uppercase;
      color: base.$text-main;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      transition: color .3s;

      &:hover, &.selected {
        color: base.$chalky-blue;
      }
    }
  }

  &__utility {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: {
      left: 50px;
      right: 15px;
    }

    & > p {
      color: base.$text-dim;
    }
  }
}