@use './../base' as base;

$bubble-count-size: 16;

.rectangle {
  display: table;
  cursor: pointer;
  position: relative;
  margin: {
    right: #{$bubble-count-size/10}px;
  }
  
  &.with-background {
    padding: 6px 16px;
    height: fit-content;
    border-radius: 3px;
    background-color: base.$bg-hightlight;
  }

  & > img {
    display: table-cell;
    max-width: 25px;
    min-height: 25px;
    vertical-align: middle;
  }

  &__circle {
    position: absolute;
    top: #{-$bubble-count-size/10}px;
    right: #{-$bubble-count-size/10}px;
    width: #{$bubble-count-size}px;
    height: #{$bubble-count-size}px;
    border-radius: 50%;
    background-color: base.$chalky-blue;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.setting-bg {
  background-color: rgba(118, 128, 140, 0.10);
}