@use './../base' as base;

.search-bar {
  width: 587px;
  height: 44px;
  border-radius: 3px;
  background-color: #19223a;
  display: table;
  &:hover {
    cursor: text;
  }

  &__placeholder {
    display: table-cell;
    vertical-align: middle;
    padding: {
      left: 19px;
    }
    color: base.$color-secondary;
    &.hide {
      display: none;
    }
  }

  &__icon {
    display: table-cell;
    vertical-align: middle;
    width: calc(20px + 11px);

    & > img {
      margin-top: 4px;
    }
  }
}