/* System greys */
$system-lightest-grey: #DCDEDF;
$system-lighter-grey: #B8BCBF;
$system-light-grey: #8B929A;
$system-grey: #67707B;
$system-dark-grey: #3D4450;
$system-darker-grey: #23262E;
$system-darkest-grey: #0E141B;

/* Store blue greys */
$store-lightest-grey: #CCD8E3;
$store-lighter-grey: #A7BACC;
$store-light-grey: #7C8EA3;
$store-grey: #4e697d;
$store-dark-grey: #2A475E;
$store-darker-grey: #1B2838;
$store-darkest-grey: #000F18;

/* Gradients */
$store-bg-gradient: linear-gradient(180deg, $store-dark-grey 0%, $store-darker-grey 80%);
$library-bg-gradient: radial-gradient(farthest-corner at 40px 40px, #3D4450 0%, #23262E 80%);

/* Colors */
$blue: #1A9FFF;
$blue-hi: #00BBFF;
$green: #5ba32b;
$green-hi: #59BF40;
$orange: #E35E1C;
$red: #D94126;
$red-hi: #EE563B;
$dusty-blue: #417a9b;
$light-blue: #B3DFFF;
$yellow: #FFC82C;
$chalky-blue: #66C0F4;

/* Backgrounds */
$light-softer: #6998bb24;
$light-soft: #3b5a7280;
$light-medium: #678BA670;
$light-hard: #93B8D480;
$light-harder: #aacce6a6;
$dark-softer: #0e141b33;
$dark-soft: #0e141b66;
$dark-medium: #0e141b99;
$dark-hard: #0e141bcc;
$neutral-light-softer: rgba(235, 246, 255, 0.10);
$neutral-light-soft: rgba(235, 246, 255, 0.20);
$neutral-light-medium: rgba(235, 246, 255, 0.30);
$neutral-light-hard: rgba(235, 246, 255, 0.40);
$neutral-light-harder: rgba(235, 246, 255, 0.50);

$bg-main: $system-darkest-grey;
$bg-hightlight: #1E2329;
$bg-hover: #313843;
$bg-secondary: #14344B;
$bg-tertiary: #212B45;

$text-main: #F3F3F3; //system-light
$text-dim: #76808C;

$color-primary: #66C0F4;
$color-secondary: #4B619B;

$accent-green: #A1CD44;
$accent-red: #CD5444;
$accent-yellow: #C1B15F;