/* Font size */
$header-large-font-size: 26;
$header-medium-font-size: 22;
$header-small-font-size: 18;
$body-large-font-size: 16;
$body-medium-font-size: 14;
$body-small-font-size: 12;

/* Font Weight */
$header-large-font-weight: 700;
$header-medium-font-weight: 700;
$header-small-font-weight: 700;
$body-large-font-weight: 400;
$body-medium-font-weight: 400;
$body-small-font-weight: 400;